@media (min-width: 993px){
  body {
      padding: 0;
      margin: 0;
      overflow-x: scroll;
  }
  .cabecada{
    width: 100%;
    background-color: red;
    height: 252px;
  }
  .p1{
    width: 100%;
    display: inline-block;
  }
  .p2{
    width: 100%;
    height: 3em;
    background-color: #25739e;
    display: inline-block;
  }
  .oqe{
    font-style: italic;
    border:0;
    font-size: 0.8em;
    margin-left: 16%;
    margin-top: 2%;
    width: 390px;
    height: 30px;
  }
  .bpesq{
    margin: 0 auto;
  }
  .pesq{
    background: #3c3b38;
    width: 30px;
    height: 34.5px;
    margin-left: -2%;
    border: none;
  }
  .op{
    font-weight: bold;
    margin-left: 450px;
    margin-top: 20px;
    color: white;
  }
  .textt{
    color: white;

  }
  .logo{
    margin-bottom: -2.5%;
    margin-left: 5%;
  }
  h4{
   padding: 0;
   width: 50%;
   margin:0;
   position: relative;
   left: 7%;
   top: 15px;
  }
  ul li a:hover,ul li a:visited, ul li a:link, ul li a:active{
    text-decoration: none;
    color: white;
    font-size: 1em;
  }
  .p1 .menucima ul.opc1{
    font-size: 0.8em;
    font-family: fantasy;
    height: 25px;
    margin-top: 20px;
    margin-left: 21%;
    font-weight: bold;
  }
  .p2 .textt .menubaixo ul.opc2{
    font-size: 0.9em;
    font-family: fantasy;
    height: 25px;
    margin-top: -5px;
    margin-left: 48%;
    font-weight: bold;
  }
  li{
    color: white;
    margin-right: 20px;
  }
  ul li {
    display: inline;
  }
  .outromulti{
    position: relative;
    top: -46px;
    margin-left: 78%;
  }
  .ads{
    margin-left: 20%;
  }
  .corpo{
    background-color: white;
    padding-top: 4%;
    padding-left: 7%;
    margin: 0 auto;
  }
  h1{
    font-size: 1em;
    color: #58595b;
  }
  .corpo .p{
    display: inline-block;
    color: #a9aaac;
    font-size: 1em;
    padding-bottom: 10px;
  }
  .corpo .p p{
    font-weight: bold;
    text-decoration: underline;
    font-size: 0.9em;
    color:#a9aaac;
    display: inline;
  }
  .corpo .d{
    font-size: 0.8em;
    color: #58595b;
    font-weight: bold;
  }
  .corpo .d p{
    font-size: 0.9em;
    display: inline;
    color: #a9aaac;
  }
  .programation{
    padding-bottom: 8px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 0.9em;
    width: 15%;
    height: 45px;
    background-color: #25739e;
  }
}
